<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Dog</title>
</head>
<body>
    <h1>You are viewing {{one_dog.name}}'s info</h1>
    <p>Name: {{one_dog.name}}</p>
    <p>Breed: {{one_dog.breed}}</p>
    <p>Color: {{one_dog.color}}</p>
    <p>Age: {{one_dog.age}}</p>

    <h2>Awards {{one_dog.name}} has:</h2>
    {% if one_dog.award_list[0].id == None %}
    <p>Hasn't won any yet :( </p>
    {%else%}
    {% for award in one_dog.award_list%}
    <ul>
        <li>{{award.title}}</li>
    </ul>
    {%endfor%}
    {%endif%}
</body>
</html>