<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
</head>
<body>
    <!-- div holding the two col. -->
    <div>
        <!-- div holding the first col -->
        <div>
            <div>
                <div>
                    <h2>New Dojo</h2>
                </div>
                <div>
                    <form action="" method="post"></form>
                        <div>
                            <label for="name">Name: </label>
                            <input type="name"  name="name">
                        </div>
                        <input type="submit" value="Add Dojo">
                    </form>
                </div>
                <a href="">Add Ninja</a>
            </div>
        </div>
        <!-- div holding the second col -->
        <div>
            <div>
                <h2>All Dojos</h2>
            </div>
            <div>
                <p>Here is where you add the list of dojos.</p>
            </div>
        </div>
    </div>
</body>
</html>