<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body >
    <div>
        <h1> New Ninja</h1>
        <form action="/ninja/create" method="post">
            <div>
                <label for="location" class="text-white">Dojo Location:</label>
                <select name="location" class="form-select gap-3">
                    <option> --SELECT ONE-- </option>
                </select>
            </div>
            <div>
                <label for="first_name" class="form-label text-white">First Name:</label>
                <input type="name" class="form-control" name="first_name">
            </div>
            <div>
                <label for="last_name" class="form-label text-white">Last Name:</label>
                <input type="name" class="form-control" name="last_name">
            </div>
            <div>
                <label for="age" class="form-label text-white">Age:</label>
                <input type="number" class="form-control" name="age">
            </div>
            <input type="submit" class="btn btn-warning " value="Submit">
        </form>
    </div>
</body>
</html> -->