<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="dflex justify-content-between">
            <h1>Add a new recipe! </h1>
            <div>
                <a href="/welcome" class="btn btn-primary">Back to Recipies</a>
                <a href="/users/logout" class="btn btn-danger">Log Out</a>
            </div>
        </div>
        {% for message in get_flashed_messages()%}
        <p class="text-danger">{{message}}</p>
        {% endfor %}
        <form action="/recipes/create" method="post">
            <label for="type">Name:</label>
            <input type="text" name="type" id="type" class="form-control">
            <label for="description">Description:</label>
            <textarea name="description" id="description" cols="30" rows="10"></textarea>
            <label for="instructions">Instructions:</label>
            <textarea name="instructions" id="instructions" cols="30" rows="10"></textarea>
            <label for="date">Date:</label>
            <input type="date" name="date" id="date" class="form-control">
            <div>
                Under 30 minutes?
                <label for="true">Yes</label>
                <input type="radio" name="all_ages" id="true" value="1">
                <label for="false">No</label>
                <input type="radio" name="all_ages" id="false" value="0">
            </div>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>